:root {
    --default: #b5b5b5;
    --miss: #FECE01;
    --right: #74B72E;
}

body {
    margin: 0;
    padding: 0;
    background-color: #7b7b7b;
}

h1 {
    text-align: center;
    background: linear-gradient(90deg, #ff0000, #ffff00, #ff00f3, #0033ff, #ff00c4, #ff0000);
    background-size: 400%;
    font-size: 60px;
    font-family: sans-serif;
    letter-spacing: 10px;
    font-weight: 600;
    word-spacing: 5px;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    animation: animate 10s linear infinite;
    text-transform: uppercase;
}

@keyframes animate {
    0% {
        background-position: 0%;
    }
    100% {
        background-position: 200%;
    }
}

#game {
    display: grid;
    width: 100%;
    height: auto;
    place-items: center;
    align-items: center;
    text-align: center;
    
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 60px); /* Növeltük a kockák szélességét */
    grid-template-rows: 60px 10px; /* Módosítottuk a sorok magasságát */
    grid-gap: 20px; /* Növeltük a kockák közötti távolságot */
}

.box {
    display: grid;
    place-items: center;
    font-size: 2.4rem;
    width: 100%;
    height: 100%;
    border: 2px solid var(--default);
    font-family: Arial;
    text-transform: uppercase;
    background: var(--default);
    margin: auto; /* Középre igazítás */
}

.box input {
    width: 90%; /* Kis méretű padding a kocka belsejében */
    height: 90%; /* Kis méretű padding a kocka belsejében */
    border: none;
    background: none;
    font-size: inherit;
}

.box.miss {
    background: var(--miss);
}

.box.right {
    background: var(--right);
}
#keyboard-cont {
    margin: 1rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  #keyboard-cont div {
    display: flex;
  }
  
  .second-row {
    margin: 0.5rem 0;
  }
  
  .keyboard-button {
    font-size: 1rem;
    font-weight: 700;
    padding: 0.5rem;
    margin: 0 2px;
    cursor: pointer;
    text-transform: uppercase;
  }
.buttons{
   position: absolute;
   transform: translate(-50%, -50%);
   bottom: 1rem;
   left: 50%;
   text-align: center;
}
.btn{
    background: none;
    border: 2px solid;
    font-family: sans-serif;
    text-transform: uppercase;
    padding: 12px 20px;
    min-width: 200px;
    margin: 10px;
    cursor: pointer;
    transition: color 0.4s linear;
    position: relative;
}
.btn:hover{
    color: #fff;
}
.btn::before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #000;
    z-index: -1;
    transition: transform 0.5s;
    transform-origin: 0 0;
    transition-timing-function: cubic-bezier(0.5,1.6,0.4,0.7);
}
.kovetkezo::before{
    transform: scaleX(0);
}
.ellenorzes::before{
    transform: scaleY(0);
}
.kovetkezo:hover::before{
    transform: scaleX(1);
}
.ellenorzes:hover::before{
    transform: scaleX(1);
}
.animated{
    animation: flip 0.5s ease;
}
@keyframes flip{
    0% {
        transform: scaleY(1);
    }
    50%{
        transform: scaleY(0);
    }
    100%{
        transform: scaleY(1);
    }
}
