:root {
    --default: #b5b5b5;
    --miss: #FECE01;
    --right: #74B72E;
}

h1 {
    text-align: center;
}

#game {
    display: grid;
    width: 100%;
    height: auto;
    place-items: center;
    align-items: center;
    text-align: center;
    padding: 20px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(5, 80px); /* Növeltük a kockák szélességét */
    grid-template-rows: repeat(6, 80px); /* Növeltük a kockák magasságát */
    grid-gap: 20px; /* Növeltük a kockák közötti távolságot */
}

.box {
    display: grid;
    place-items: center;
    font-size: 2.4rem;
    width: 100%;
    height: 100%;
    border: 2px solid var(--default);
    font-family: Arial;
    text-transform: uppercase;
    background: var(--default);
    margin: auto; /* Középre igazítás */
}

.box input {
    width: 90%; /* Kis méretű padding a kocka belsejében */
    height: 90%; /* Kis méretű padding a kocka belsejében */
    border: none;
    background: none;
    font-size: inherit;
}

.box.miss {
    background: var(--miss);
}

.box.right {
    background: var(--right);
}

button {
    display: block;
    margin: 10px auto;
}
